.env
.venv/
.idea/
.pytest_cache/
__pycache__/
*.pyc

output_noticias/*.json
img/*.html
img/**/*.html
img/*.png
img/**/*.png

data/emb_cache.json
data/*.tmp

modelos/*.pt

*.log
*.pyc
/src/__pycache__
*.pyc
